:root {
    --blue: #14213d;
    --yellow: #fca311;
    --white: #fff;
    --grey: #e5e5e5;
    --dark-grey: #333333;
    --black: #000;
  }
  
    * {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      
    }
  
    html, body
      {
      width: 100%;
          height: 100%;
      margin: 0px;
      position: absolute;
      text-align: center;
      }
      
      body
      {
      
      margin:10px;
          padding: 0px;
          background: #181818;
          font-family: 'Didact Gothic', sans-serif;
          font-size: 12pt;
          font-weight: 200;
          color: #FFF;
      position: absolute;
      }
        
      h1, h2, h3
      {
          margin: 0;
          padding: 0;
      }
      
      p, ol, ul
      {
          margin-top: 0;
      }
      
      ol, ul
      {
          padding: 0;
          list-style: none;
      }
      
      p
      {
          line-height: 180%;
      }
      
      strong
      {
      }
      
      a
      {
          color: #ee0000;
      }
      
      a:hover
      {
          text-decoration: none;
      }
      
      .container
      {
          overflow: hidden;
          margin: 0em auto;
          width: 1200px;
      }
      
  /*********************************************************************************/
  /* Image Style                                                                   */
  /*********************************************************************************/
  
      .image
      {
          display: inline-block;
      }
      
      .image img
      {
          display: block;
          width: 100%;
      }
      
      .image-full
      {
          display: block;
          width: 100%;
          margin: 0 0 2em 0;
      }
      
      .image-left
      {
          float: left;
          margin: 0 2em 2em 0;
      }
      
      .image-centered
      {
          display: block;
          margin: 0 0 2em 0;
      }
      
      .image-centered img
      {
          margin: 0 auto;
          width: auto;
      }
  
  /*********************************************************************************/
  /* List Styles                                                                   */
  /*********************************************************************************/
  
      ul.style1
      {
      }
      
      ul.actions
      {
      }
      
      ul.actions li
      {
          display: inline-block;
          padding: 0em 0.50em;
      }
  
  
  /*********************************************************************************/
  /* Social Icon Styles                                                            */
  /*********************************************************************************/
  
      ul.contact
      {
          margin: 0;
          padding: 2em 0em 0em 0em;
          list-style: none;
      }
      
      ul.contact li
      {
          display: inline-block;
          padding: 0em 0.30em;
          font-size: 1em;
      }
      
      ul.contact li span
      {
          display: none;
          margin: 0;
          padding: 0;
      }
      
      ul.contact li a
      {
          color: #FFF;
      }
      
      ul.contact li a:before
      {
          display: inline-block;
          background: #3f3f3f;
          width: 40px;
          height: 40px;
          line-height: 40px;
          border-radius: 20px;
          text-align: center;
          color: #FFFFFF;
      }
      
      ul.contact li a.icon-twitter:before { background: #2DAAE4; }
      ul.contact li a.icon-facebook:before { background: #39599F; }
      ul.contact li a.icon-dribbble:before { background: #C4376B;	}
      ul.contact li a.icon-tumblr:before { background: #31516A; }
      ul.contact li a.icon-rss:before { background: #fca311; }
  
  /*********************************************************************************/
  /* Button Style                                                                  */
  /*********************************************************************************/
  
      .button
      {
          display: inline-block;
          padding: 1em 2em 1em 2em;
          letter-spacing: 0.10em;
          margin-top: 2em;
          padding: 1.40em 3em;
          background: #fca311;
          border-radius: 6px;
          text-decoration: none;
          font-weight: 700;
          font-size: 1em;
          color: #3f0900;
      }
      
      .button-alt
      {
          padding: 1em 2em;
          border-color: rgba(0,0,0,.8);
      }
          
  /*********************************************************************************/
  /* 4-column                                                                      */
  /*********************************************************************************/
  
      .box1,
      .box2,
      .box3,
      .box4
      {
          width: 235px;
      }
      
      .box1,
      .box2,
      .box3,
      {
          float: left;
          margin-right: 20px;
      }
      
      .box4
      {
          float: right;
      }
      
  /*********************************************************************************/
  /* 3-column                                                                      */
  /*********************************************************************************/
  
      .boxA,
      .boxB,
      .boxC
      {
          width: 380px;
      color: white;
      background: #fca311;
      border-radius: 10px;
      padding-bottom: 10px;
          
      }
  
      .boxA,
      .boxB
      {
          float: left;
          margin-right: 20px;
      }
      
      .boxC
      {
          float: right;
      }
    
    img.figma{
      margin: 20px;
    }
  
    #clients img:hover{
      width: 105%;
      height: 105%;
      transition: 0.5s;
    }
  
    img.box{
      border-radius: 10px;
    }
  
  /*********************************************************************************/
  /* 2-column                                                                      */
  /*********************************************************************************/
  
      .tbox1,
      .tbox2
      {
          width: 575px;
      }
      
      .tbox1
      {
          float: left;
      }
  
      .tbox2
      {
          float: right;
      }
  
      
  /*********************************************************************************/
  /* Heading Titles                                                                */
  /*********************************************************************************/
  
  /* Efeitos BOX */
  
  
  
  /* ************************** */
  
      .title
      {
          margin-bottom: 3em;
      }
      
      .title h2
      {
          font-size: 2.7em;
      }
      
      .title .byline
      {
          font-size: 1.3em;
          color: var(--white);
      }
  
  /*********************************************************************************/
  /* Header                                                                        */
  /*********************************************************************************/
  
      #clients
      {
          position: relative;
          padding: 5em 0em 7em 0em;
          background: #FFF;
      }
  
  #clients .container img {
    margin-bottom: 32px;
  }
  /*********************************************************************************/
  /* Header                                                                        */
  /*********************************************************************************/
  
      #header-wrapper
      {
          position: relative;
          padding: 2em 0em 0em 0em;
          background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/pic02.jpg) no-repeat center;
          background-size: cover;
      }
  
      #header
      {
          position: relative;
          padding: 5em 0em 10em 0em;
      }
  
  /*********************************************************************************/
  /* Logo                                                                          */
  /*********************************************************************************/
  
      #logo
      {
          position: absolute;
          top: 15px;
          left: 0;
      }
      
      #logo h1
      {
          font-size: 2.6em;
          color: #79C255;
      }
      
      #logo a
      {
          text-decoration: none;
          color: rgba(255,255,255,1);
      }
  
  /*********************************************************************************/
  /* Menu                                                                          */
  /*********************************************************************************/
  
      #menu
      {
          position: absolute;
          top: 25px;
          right: 0;
      }
      
      #menu ul
      {
          display: inline-block;
      }
      
      #menu li
      {
          display: block;
          float: left;
          text-align: center;
      }
      
      #menu li a, #menu li span
      {
          padding: 1em 1.5em;
          letter-spacing: 1px;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 0.8em;
          color: rgba(255,255,255,0.80);
      }
      
      #menu li:hover a, #menu li.active a, #menu li.active span
      {
      transition: color 300ms;
      }
      
      #menu .active a
      {
          background: #fca311;
          border-radius: 6px;
          color: rgba(255,255,255,1);
          color: #3f0900;
      }
      
      #menu .icon
      {
      }
  
  /*********************************************************************************/
  /* Banner                                                                        */
  /*********************************************************************************/
  
      #banner-wrapper
      {
          padding: 5em 0em;
          /* background: rgba(0,0,0,.8); */
      }
  
  #banner-wrapper li:hover{
    font-size: 18px;
  
  }
  
      #banner
      {
          text-align: center;
      }
      
      #banner .title h2
      {
      margin-bottom: 16px;
          font-size: 5em;
      }
      
      #banner .title .byline
      {
          font-size: 24px;
      font-weight: 600;
      }
      
      #banner .button
      {
          margin-top: 1.5em;
          padding: 1.40em 3em;
          border-radius: 6px;
          font-weight: 700;
          font-size: 1em;
          
      }
  
        
      .banner
      {
          margin-bottom: 5em;
      }
  
  /*********************************************************************************/
  /* Page                                                                          */
  /*********************************************************************************/
  
      #fastpay {
      display: flex;
      flex-direction: row;
      height: auto;
      color: var(--blue);
    }
  
    #coluna-esquerda-produto {
      width: 50%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
     
    }
    #coluna-esquerda-produto> h2{
      width: inherit;
      text-align: center;
     
    }
  
    #coluna-esquerda-produto img:hover{
      width: 105%;
    }
  
    #coluna-direita-produto{
      width: 50%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-items: center;   
    }
  
    #coluna-direita-produto p:hover{
      color: white;
    }
  
    #coluna-direita-produto > h2{
     text-align: center;
     
    }
    #fastpay > div:first-child {
      background: var(--blue);
      color: var(--white);
   
  
    }
   
    .imgWrap > img,figcaption{
      width: 100%;
      margin: auto;
      max-width: 650px;
      margin-left: 20%;
      padding: 20px;
  
    }
  
    img.pulseira{
      width: 600px;
    }
  
    #fastpay > div:last-child {
      background: var(--blue);
      color: var(--white);
      
      
    }
   
    #menuGrid{
      color: black;
      font-family: FontAwesome;  
      display: grid;
      grid-template-rows:1fr 1fr 1fr; 
      justify-items: center;
      align-content: center;
      margin-top: 110px;
      grid-row-gap: 20px;
      height: 60%;
      width: 100%;
          
    }
    
    #menuGrid hr {
      width: 50px;
      color: #fff;
      margin: 10px;
    }
  
    #menuGrid span {
      color: #000;
    }
     div:last-child > span {
      width: 60%;
      height: inherit;
      text-align: center;
      padding: 20px;
      background: var(--yellow);
      border-radius: 6px;
      border: 2px solid var(--black);
  
    }
    #menu a:hover{
      background: #fca311;
      color: #333333;
    font-weight: bold;
      /* text-shadow: 1px 1px 1px white; */
      border-radius: 10px;
  
  }
    #page
      {
      }
  
  /*********************************************************************************/
  /* Content                                                                       */
  /*********************************************************************************/
  
      #content
      {
      }
  
  /*********************************************************************************/
  /* Sidebar                                                                       */
  /*********************************************************************************/
  
      #sidebar
      {
      }
  
  /*********************************************************************************/
  /* Footer                                                                        */
  /*********************************************************************************/
  
      #footer
      {
      }
      /* Formulario de contato */
  section#contact{
    display: flex;
    flex-direction: column;
    margin:auto;
   
  } 
  section h2{
    margin: 20px 10px;
    text-align: center;
  }
  
  form#form{
      text-align: left;
      color: #f1faee;
      padding: 20px;
  
  }
  input[type=text], select, textarea {
      width: 100%; 
      padding: 12px; 
      border: 1px solid #ccc;
      
      box-sizing: border-box; 
      margin-top: 6px; 
      margin-bottom: 16px; 
      resize: vertical; 
    }
    
    
    input[type=submit] {
    padding: 12px 20px;
    color: black;
    text-transform: uppercase;
    background-color:#fca311;
    border-radius: 4px;
    margin-right: 40px;
    font-size: 14px;
    letter-spacing: 5px;
    transition: color 0.3s;
  
    }
     
   
    input[type=submit]:hover {
      color: var(--white);
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    /* ****Formulério de Contato */
    section.container{
      width: 50%;
      margin: 10px;
      text-align: center;
      
    }
    
  
  
  /*********************************************************************************/
  /* Copyright                                                                     */
  /*********************************************************************************/
  
      #copyright
      {
          overflow: hidden;
          padding: 5em 0em;
          border-top: 1px solid rgba(0,0,0,0.08);
      }
      
      #copyright p
      {
          text-align: center;
          font-size: 1em;
          color: rgba(255,255,255,0.3);
      }
      
      #copyright a
      {
          text-decoration: none;
          color: rgba(255,255,255,0.6);
      }
  
  
  /*********************************************************************************/
  /* Welcome                                                                       */
  /*********************************************************************************/
  
      #about
      {
          position: relative;
          padding: 7em 0em 7em 0em;
          background: #fca311;
          background-size: cover;
          text-align: center;
      }
      
      #about .container
      {
          width: 1180px;
          padding: 0px 100px;
          /* color: rgba(255,255,255,0.8); */
          color: rgba(0,0,0);
      }
      
      #about a, #about p
      {
      
      margin: 12px;
      padding: 5px;
      border: groove 1.5px grey;
      border-radius: 12px; 
  
      background: var(--blue);
      color: #fff;
      transition: width 2s, height 2s;
  
      
    }	
  
    * #about img:hover{
      width: 105%;
      height: 105%;
      
    } 
      
      #about .button
      {
          background: #FFF;
          color: #3f0900;
      }
  
  
  /*********************************************************************************/
  /* Extra                                                                         */
  /*********************************************************************************/
  
      #three-column
      {
          text-align: center;
          color: rgba(0,0,0,0.6);
      }
    #three-column img{
      max-width: 100%;
      height: auto;
      width: 330px;
    }
  
      #three-column .fa
      {
          display: block;
          padding: 1em 0em;
          color: rgba(0,0,0,1);
          font-size: 2em;
      }
      
      #three-column .title h2
      {
          font-weight: bold;
          color: rgba(0,0,0,0.8);
      text-align: center;
      }
  
      #three-column .title .byline
      {
          text-align: center;
          color: rgba(0,0,0,.5);
      }
  
  
  
  /* *****Responsividade***** */
  
  @media screen and (max-width: 480px), (min-width: 1200px){
      html, body
      {
      position: absolute;
      }/*/
  }
  